<Navbar></Navbar>


<div class="container-fluid">

    <div class="row">

        
        <div class="col-lg-7 col-md-7 col-sm-7 col-xl-7 mt-2">
            
            <DisplayBookList [BookTitle]="bookTitle"></DisplayBookList>
            
        </div>
        
        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xl-5 mt-2">
            
            <BookEntryForm (newBookTitleEmitter)="setNewBookTitle($event)"></BookEntryForm>
            
        </div>
        
    </div>

</div>